<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.ui.preferencePages">
        <page
            id="com.tlcsdm.eclipse.fixcnchar.preferences"
            name="Fix Chinese Characters"
            class="com.tlcsdm.eclipse.fixcnchar.preferences.FixCharPreferencePage"
            category="org.eclipse.ui.preferencePages.Workbench">
        </page>
    </extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer
			class="com.tlcsdm.eclipse.fixcnchar.preferences.PreferenceInitializer"></initializer>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command
            id="com.tlcsdm.eclipse.fixcnchar.commands.replace"
            name="Replace Chinese Punctuation"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.tlcsdm.eclipse.fixcnchar.commands.replace"
            class="com.tlcsdm.eclipse.fixcnchar.handler.ReplaceHandler">
        </handler>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.tlcsdm.eclipse.fixcnchar.commands.replace"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R"/>
    </extension>

</plugin>
